<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Todo List made in Embedded Javascript</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= list_title %> list</h1>
    </div>
    <div class="box">
        <% for(var i=0;i<taskArray.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= taskArray[i] %> </p>
            </div>
        <% } %>

        <form action="/" method="post">
            <input type="text" name="task" placeholder="Add a new task here" autocomplete="off" >
            <button type="submit" name="list" value="<%=list_title %>">+</button>
        </form>
    </div>
    
</body>
</html>