<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List made in Embedded Javascript</title>
</head>
<body>
    <div class="container">
        <!-- <h1>Today is <%= dayofweek %>!</h1> -->
        <h1><%= dayofweek %></h1>
        <ul>
            <% for(var i=0;i<taskArray.length;i++){ %>
                <li><%= taskArray[i] %></li>
        <%  } %>
        </ul>
        <form action="/" method="post">
            <input type="text" name="task">
            <button type="submit" name="button">Add task</button>
        </form>
    </div>
    
</body>
</html>